<h1 style="color:red">Are you sure you want to delete this order from {{name}}?</h1>
<br />
<form action="/admin/customer/delete" method="post">
    <h5><b>Product:</b> {{product}}</h5>
    <h5><b>Price:</b> ${{price}}</h5>
    <h5><b>Quantity:</b> {{quantity}}</h5>

    <input type="hidden" name="userId" value="{{userId}}">
    <input type="hidden" name="prodId" value="{{prodId}}">

    <button type="submit" class="btn btn-danger">Delete Order</button>
</form>
