<div>

	<nav class="navbar navbar-light bg-light justify-content-between">
		<h4><b>Customer:</b> {{name}}</h4>
		<a type="submit" class="btn btn-outline-primary" href="/admin">Admin Menu</a>
	</nav>

	<div class="table-responsive">
		<table class="table table-condensed table table-bordered table-striped">
			<thead>
				<tr>
					<th style="width: 35%">Order</th>
					<th style="width: 25%">Total Price</th>
					<th style="width: 25%">Order Quantity</th>
					<th style="width: 15%">Admin Controls</th>
				</tr>
			</thead>
			<tbody>
				{{#each data}}
					<tr>
						<td>{{this.product}}</td>
						<td>${{this.price}}</td>
						<td>{{this.quantity}}</td>
						</td>
						<td>
							<a href="/admin/customer/{{../userId}}/update/{{this.id}}">Edit</a>
							<span>|</span>
							<a href="/admin/customer/{{../userId}}/delete/{{this.id}}">Delete</a>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>