<h1 style="color:red">Are you sure you want to delete this product?</h1>
<br />
<form action="/admin/product/delete/{{id}}" method="post">
<h1>{{name}}</h1>
<br />
<h5><b>Description: </b>{{description}}</h5>
<h5><b>List Price: </b>${{price}}</h5>
<h5><b>Stock: </b>{{stock}}</h5>
<br/>
    <button type="submit" class="btn btn-danger">Delete Product</button>
</form>
