<form action="/admin/product/update" method="post">
    <label>Name: </label>
    <input type="text" name="name" value="{{name}}" required>
    <br/>
    <label>Price ($): </label>
    <input type="number" step=".01" name="price" value={{price}} required>
    <br/>
    <label>Stock: </label>
    <input type="number" name="stock" value={{stock}} required>
    <br/>
    <br/>
    <p>Description:</p>
    <textarea type="text" name="description"  rows="4" cols="50" required>{{description}}</textarea>

    <br/>
    <input type="hidden" name="id" value="{{id}}">
    <br/>
    <button type="submit" class="btn btn-secondary">Update Product</button>
</form>
