<div>

	<nav class="navbar navbar-light bg-light justify-content-between">

		<a type="submit" class="btn btn-outline-success" href="/admin/product/add">Add Product</a>
		<a type="submit" class="btn btn-outline-primary" href="/admin">Admin Menu</a>
	</nav>

	<div class="table-responsive">
		<table class="table table-condensed table table-bordered table-striped">
			<thead>
				<tr>
					<th style="width: 10%">Name</th>
					<th>Description</th>
					<th style="width: 8%">Price</th>
					<th style="width: 8%">Stock</th>
					<th style="width: 15%">Admin Controls</th>
				</tr>
			</thead>
			<tbody>
				{{#each data}}
					<tr>
						<td>
							{{this.name}}
						</td>
						<td>{{this.description}}</td>
						<td>${{this.price}}</td>
						<td>{{this.stock}}</td>
						</td>
						<td>
							<a href="/admin/product/update/{{this.id}}">Edit</a>
							<span>|</span>
							<a href="/admin/product/delete/{{this.id}}">Delete</a>
						</td>
					</tr>
				{{else}}
					<tr>
						<th colspan="5">There are no products at this time.</th>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>
