<div>

	<nav class="navbar navbar-light bg-light justify-content-between">

		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
				Sort by
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="/shop?sort=low-to-high">Price: Low to High</a>
				<a class="dropdown-item" href="/shop?sort=high-to-low">Price: High to Low</a>
				<a class="dropdown-item" href="/shop?sort=alphabetical">Name: Alphabetical</a>
				<a class="dropdown-item" href="/shop?sort=newest">Newest Arrivals</a>
			</div>
		</div>

		<a href="/shop/cart">
			<h5 style="margin-bottom: 0px">Customer Orders</h5>
		</a>


		<form class="form-inline" action="/shop/search" method="post">
			<input class="form-control mr-sm-2" name="search" type="search" placeholder="Search Product" aria-label="Search" required>
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</nav>

	<div class="table-responsive">
		<table class="table table-condensed table table-bordered table-striped">
			<thead>
				<tr>
					<th style="width: 15%">Name</th>
					<th>Description</th>
					<th style="width: 8%">Price</th>
					<th style="width: 8%">Stock</th>
				</tr>
			</thead>
			<tbody>
				{{#each data}}
					<tr>
						<td>
							<a href="/shop/product/{{this.id}}">{{this.name}}</a>
						</td>
						<td>{{this.description}}</td>
						<td>${{this.price}}</td>
						<td>{{this.stock}}</td>
						</td>
					</tr>
				{{else}}
				<tr>
					<th colspan="4">There are no products at this time.</th>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>
