<div>

	<nav class="navbar navbar-light bg-light justify-content-between">

		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
				Sort by
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="#">Price: Low to High</a>
				<a class="dropdown-item" href="#">Price: High to Low</a>
				<a class="dropdown-item" href="#">Name: Alphabetical</a>
				<a class="dropdown-item" href="#">Newest Arrivals</a>
			</div>
		</div>

		<a href="#">
			<h5 style="margin-bottom: 0px">Customer Orders</h5>
		</a>


		<form class="form-inline">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</nav>

	<div class="table-responsive">
		<table class="table table-condensed table table-bordered table-striped">
			<thead>
				<tr>
					<th style="width: 10%">Name</th>
					<th>Description</th>
					<th style="width: 8%">Price</th>
					<th style="width: 8%">Stock</th>
					<th style="width: 15%"></th>
				</tr>
			</thead>
			<tbody>
				{{#each data}}
					<tr>
						<td>
							<a href="/product/{{this.name}}">{{this.name}}</a>
						</td>
						<td>{{this.description}}</td>
						<td>${{this.price}}</td>
						<td>{{this.stock}}</td>
						</td>
						<td>
							<a href="/product/edit/{{this.id}}">Edit</a>
							<span>|</span>
							<a href="/product/delete/{{this.id}}">Delete</a>
						</td>
					</tr>
				{{/each}}
			</tbody>
			<tfooter>
				{{!-- <tr><td> --}}
				{{!-- <button class="btn btn-primary" 
						onClick="addCourse();">Add</button> --}}
				{{!-- </td></tr> --}}
			</tfooter>
		</table>
	</div>
</div>
